<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'cdnlines.html' %}
    <title>Admin SignUp</title>
</head>
<style>
    h3{
        margin-top: 20px;
    }
    form{
        border: 2px solid white;
        box-shadow: 0 0 10px black;
        padding: 20px;
        border-radius: 5%;
        margin-top: 80px;
        margin-bottom: 20px;
    }
    label{
        margin-bottom: 0px;
    }
    input{
        margin-bottom: 7px;
    }
</style>
<body>
    <!-- navbar -->
    {% include 'navbar.html' %}
    <!-- admin signup form -->
    <div class="container">
        <div class="offset-md-3 col-md-6">
            <form method="post">
                {% csrf_token %}
                <h1 class="text-center ">Fill Admin Details...</h1>

                <label for="first_name"><b>First Name</b></label>
                <input type="text" class="form-control" placeholder="First Name" name="first_name">

                <label for="last_name"><b>Last Name</b></label>
                <input type="text" class="form-control" placeholder="Last Name" name="last_name">

                <label for="email">Email ID</label>
                <input type="email" name="email" placeholder="Email ID" class="form-control">

                <label for="username"><b>Username</b></label>
                <input type="text" class="form-control" placeholder="Username" name="username">

                <label for="password1"><b>Password</b></label>
                <input type="password" class="form-control" placeholder="Password" name="password1">

                <label for="password2"><b>Confirm Password</b></label>
                <input type="password" class="form-control" placeholder="Confirm Password" name="password2">

                <input type="submit" value="Submit" class="btn btn-primary btn-lg mt-2">
                <div class="text-center mt-2">
                    <p>Already have an Account !! <a href="{% url 'a_login' %}">Login Here</a></p>
                </div>
            </form>
        </div>
    </div>
    {% include 'footer.html' %}
</body>
</html>